.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# package.json specifies sqreen version '*' but yarn.lock will
# override it and lock to a specific version 
yarn.lock

sqreen-shop-db

sqreen.json
